Common/src/main/resources/META-INF/Description.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.matcha.com/description"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.matcha.com/description"
            elementFormDefault="qualified">
    <xsd:element name="description">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
            <xsd:attribute name="value" type="xsd:string" use="required"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>