Common/src/main/resources/META-INF/MyBean.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.matcha.com/myBean"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.matcha.com/myBean"
            elementFormDefault="qualified">
    <xsd:element name="myBean" type="myBeanType"></xsd:element>
    <xsd:complexType name="myBeanType">
        <xsd:all minOccurs="0" maxOccurs="1">
            <xsd:element name="dependence" type="dependenceType"></xsd:element>
        </xsd:all>
        <xsd:attribute name="id" type="xsd:ID" use="required"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="class" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="dependenceType">
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="ref" type="baseDependenceElementType" minOccurs="0"></xsd:element>
            <xsd:element name="value" type="baseDependenceElementType" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="baseDependenceElementType">
        <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>